html{
    scroll-behavior: smooth;
}

body {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    background-image: url(./images/background/path_to_banner_image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
header {
    background-color: #27303e;
    padding: 20px;
    text-align: center;
    display: flex;
}



ul{
    display: flex;
    justify-content: space-around;
}


/*main_page*/
.main-page{
display:none;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-right: 0px;
}
.logo{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    color: #27303e;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 13px;
}
.posts{
    background-color: #485563;
    height: 100%;
    border-radius: 5px 0px 5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.post {
    background-color: #485563;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 520px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-start;
    border-bottom:black ;
    padding: 18px;
    height: auto;
}
#scroll_top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 40px;
	z-index: 1000;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
#scroll_top:hover {
 	opacity: 1;
}
/*for_posts*/
.post_image{
    width: 470px;
}
.posts_header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 130px;
}
.name {
    margin-top: 0%;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.description, .post_image {
    flex-basis: 100%;
    word-wrap: break-word;}

.description{
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 20px;
    margin-left: 10px;
}
.pfp{
    border-radius: 100%; 
    border: none;
    margin: 8px 18px 10px 10px;
}
.comment{
    margin: 10px 0px 0px 30px;
    cursor: pointer;
}
.heart {
    margin:10px 0px 13px 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.grey-heart{
    filter: hue-rotate(180deg);
}
.grey-heart-again{
    filter: hue-rotate(180deg);
}

.liked{
    animation: likeAnimation 0.4s ease-in-out;
    transform: scale(1.3);
    transition: 0.6s;
    
}

@keyframes likeAnimation {
    0%{
      transform: scale(1); /* Изначальный размер */
    }
    50% {
      transform: scale(1.5); /* Увеличенный размер */
      filter: hue-rotate(0deg);
    }
    100%{
        transform: scale(1.3);
        filter: hue-rotate(0deg);
    }
  }
  
/*registr_page*/
.registr-page{
    margin-top: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registr{
    width: 330px;
    height: 230px;
    background-color: rgb(81, 144, 161);
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 14px rgba(255, 255, 255, 0.5);
}

.registr-info{
    padding-right: 130px;
    font-size: 15px;
    color: rgb(231, 244, 255);
    word-wrap: break-word;
}

.login{
    margin: 10px;
    margin-top: 20px;
    height: 40px;
    border:none;
    background-color:white ;
    border-radius: 10px;
    width: 300px;
}

.password-input{
    margin: 10px;
    margin-top: 15px;
    height: 40px;
    border:none;
    background-color:white ;
    border-radius: 10px;
    width: 300px
}

.log-in-btn{
    background-color: rgb(41, 57, 80);
    margin-top: px;
    margin: 10px;
    height: 50px;
    border:none;
    color: white;
    border-radius: 10px;
    width: 300px
}

.log-in-btn:hover{
    background-color: rgb(32, 44, 61);
    transition-duration:0.3s;
    transform-origin: 10px;
}

.log-in-btn:active{
    background-color: rgb(0, 0, 0);
    box-shadow: 0.3em 0.3em 14px black;
}

.incorrect{
    color: red;
    margin-left: 40px;
    -webkit-text-stroke: black;
    font-size: 18px;
}


  

/*menu*/
.menu{
    height: 350px;
    width: 350px;
    flex-wrap: 100%;
    background-color: #485563;
    border-left: 3px solid #33393f;
    display: none;
    border-radius: 0px 0px 10px 10px;
    margin: 0%;

}


.mini-prof{
    display: flex;
    align-items: center;
    
}

.mini-prof>p{
    margin-top: 5px;
}

.edit_profile{
    width: 100%;
    color: white;
    background-color: #1C2331;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.edit_profile:active{
    transform: scale(0.98);
    transition: 0.1s;
    box-shadow: 0.25em 0.25em 15px black;
}

.mini-prof>h3{
    margin: 0px;
}

.select_status{
    margin-left:40px;
    background-color: #485563;
    color: white;
    border: 0.5px solid black;
    border-radius: 10px;
}




.show_menu{
    margin:5px 0px 0px 90px;
    height: 30px;
    animation: menushow 0.5s ease-in-out;
    rotate: 270deg;
    
}

.hide_menu{
    animation: menuhide 0.5s ease-in-out ; 
    rotate: 90deg;
}

@keyframes menushow{
    0%{
    rotate: 90deg;
    }
    100%{
    rotate:270deg;
    }
}

@keyframes menuhide {
    0%{
        rotate: 270deg;
    }
    100%{
        rotate: 90deg;
    }
    
}



.friends{
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0px 0px 10px;
}

.exit_account{
    width: 100%;
    height: 30px;
    background-color: #33393f;
    border-radius: 0px 0px 10px 10px ;
    border: none;
    margin: 184px 0px 0px 0px;
}

.exit_account:hover{
    background-color: #1d2124;
    transition: 0.3s;
}

.edit_profile:hover{
    background-color: #121720;
    transition: 0.3s;
    transform: scale(1.01);
}

@media (max-width: 768px) and (orientation: landscape) {
    /* Ваши стили для альбомной мобильной версии */
    /* Например: оптимизация макета для горизонтальной ориентации */


  }

@media (min-width: 1024px) {
    /* Ваши стили для десктопной версии */
    /* Например: изменения размеров, расположения и т.д. */
}
@media (max-width: 768px) and (orientation: portrait) {
    /* Ваши стили для портретной мобильной версии */
    /* Например: оптимизация макета для вертикальной ориентации */
  }
/*footer*/
#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Расположение подвала внизу */
    display: none;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content li {
    display: inline;
    margin-right: 20px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

